venv/
venv_*/
etap_*/venv/
.env
__pycache__/
build/
dist/
.vscode/
do_nauki/
lepsze_dane/
nagrania_testy/
analiza/
alfabet/
moje*/
nagrania_gestow/
analiza_liter.txt
*.spec
*.exe
*.zip
*.pkl
*.keras
*.h5
*.task
*.mp4
*.7z
*.pyc
.DS_Store